html {
    padding: 20px;
    font-size: 2rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
}
blockquote {
    color: #f9f9f9;
    background-color: #5757e8;
    border-left: 10px solid #ccc;
    margin: 1.5em 30px;
    padding: 0.5em 30px;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  html:lang(ar) {
	direction: rtl;
	text-align: right;
  }

  html:lang(ar) blockquote {
    border-right: 10px solid #ccc;
    border-left: 0;
  }